{% include "header.html" %}


<div class="container">




    <div class="row">
        <div class="col-md-8 d-flex align-items-center justify-content-center">

                <form action="/projects/morse" method="post" style="width: 26rem;">
                           <h1 class="text-center">Morse Code Generator</h1>
                    <!-- Name input -->
                    <div data-mdb-input-init="" class="form-outline mb-2" data-mdb-input-initialized="true">
                        <input type="text" id="morse_input" name="morse_input" class="form-control"
                               value="{{user_input}}">
                        <label class="form-label" for="morse_input" style="margin-left: 0px;">Write text you want to be
                            converted</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 42.4px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>


                    <!-- Submit button -->
                    <button data-mdb-ripple-init="" type="submit" class="btn btn-primary btn-block mb-4"
                            style="width: 100%;">Convert to Morse Code
                    </button>


                    <!-- Message input -->
                    <div data-mdb-input-init="" class="form-outline mb-2" data-mdb-input-initialized="true">
                        <input type="text" id="morse_output" name="morse_input" class="form-control"
                               value="{{morse_output}}" readonly >
                        <label class="form-label" for="morse_input" style="margin-left: 0px;">Converted morse
                            code</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 42.4px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>


                </form>

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjl5eHFsZnk3eTJvODh6NDFmbnhzOWk0ZnhveWhrbG91eHQzZ3o4NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5zdsPpjv6orsBharwg/giphy.webp"
                     class="card-img-top"
                     alt="Morse coding gif"/>
                <div class="card-body">
                    <h5 class="card-title">Code source</h5>
                    <p class="card-text">Click here for reviewing source code</p>
                    <a href="https://github.com/Tolian500/MyPortfolio/blob/master/morse.py" class="btn btn-dark" data-mdb-ripple-init>Get Code</a>
                </div>
            </div>
        </div>
    </div>


</div>

{% include "footer.html" %}