{% include "header.html" %}


<div class = "container">
  <h1>Morse Code Generator</h1>
  <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <form action="/projects/morse" method="post" style="width: 26rem;">
          <!-- Name input -->
          <div data-mdb-input-init="" class="form-outline mb-2" data-mdb-input-initialized="true">
            <input type="text" id="morse_input" name="morse_input" class="form-control" value="{{user_input}}">
            <label class="form-label" for="morse_input" style="margin-left: 0px;">Write text you want to be converted</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 42.4px;"></div><div class="form-notch-trailing"></div></div></div>


                    <!-- Submit button -->
        <button data-mdb-ripple-init="" type="submit" class="btn btn-primary btn-block mb-4" style="width: 100%;">Convert to Morse Code</button>


          <!-- Message input -->
           <div data-mdb-input-init="" class="form-outline mb-2" data-mdb-input-initialized="true">
            <input type="text" id="morse_output" name="morse_input" class="form-control" value="{{morse_output}}">
            <label class="form-label" for="morse_input" style="margin-left: 0px;">Converted morse code</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 42.4px;"></div><div class="form-notch-trailing"></div></div></div>



        </form>
      </section>


</div>

{% include "footer.html" %}