{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}


<div class="container">
    <div class="row border-bottom pt-2">
        <div class="col-lg-8 d-flex flex-column">
            <div class="border-bottom">
                <p class="display-6">Music time machine: Tutorial</p>
                <p class="lead">Welcome to music time traveling! With this app, you can dive into the old hits of your
                    youth, or maybe you're interested in what was popular during your parents'
                    youth. The project combines Billboard.com's top 100 chart and Spotify. By entering the date you want,
                    this app creates a Spotify playlist that you can add to your own!
                    Feel free to experiment and catch the warm wind of nostalgia. </p>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-row-reverse align-items-center">
            <blockquote class="blockquote">
                <p>How can you listen to this?!</p>
                <footer class="blockquote-footer">Someone's mom at <cite title="Source Title">Home</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 d-flex align-items-center justify-content-center">

            <form action="/projects/morse" method="post" style="width: 26rem;">
                <h1 class="text-center">Music time machine</h1>
                <h2 class="text-center mb-4">With Spotify</h2>

                <!-- Name input -->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Your Name / Nickname </label>
                    <input type="email" class="form-control" id="InputName" aria-describedby="emailHelp"
                           placeholder="Time Traveler">
                </div>

                <!-- Message input -->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Choose a date you want to rollback </label>
                    <input type="email" class="form-control" id="InputDate" aria-describedby="emailHelp">
                    <div id="dateHelp" class="form-text">Birthday date when you were 5? Or what was popular in your
                        parents age?
                    </div>
                </div>


                <!-- Submit button -->
                <button data-mdb-ripple-init="" type="submit" class="btn btn-primary btn-block mb-4"
                        style="width: 100%;">Create playlist
                </button>


            </form>

        </div>

        <div class="col-md-4 pt-4">
            <div class="card">
                <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXc4cjg1NmFkaGFzYnVlemtnbnd4YmhjY3g2N3JnNDMydDViM21hdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/I0zedJJ4JoQKslomNC/giphy.webp"
                     class="card-img-top"
                     alt="Morse coding gif"/>
                <div class="card-body">
                    <h5 class="card-title">Code source</h5>
                    <p class="card-text">Click here for reviewing source code</p>
                    <a href="https://github.com/Tolian500/MyPortfolio/blob/master/morse.py" class="btn btn-dark"
                       data-mdb-ripple-init>Get Code</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}