{% include "header.html" %}


<div class="container d-flex align-items-center justify-content-center">
    <div class="col-md-4 ">
        <h1 class="text-center"> Tic Tac Toe </h1>


        <div class="row">
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a href="#!">
                    <img src="{{url_for('static', filename='assets/img/grid_el1.png')}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
        </div>

    </div>

</div>
{% include "footer.html" %}