{% include "header.html" %}
<div class="b-example-divider"></div>

<div class="d-flex align-items-center justify-content-center pb-4 bg-body-secondary">
    <div class="col-md-4 ">
        <h1 class="display-4 text-center fw-bold text-body-emphasis pt-4"> Tic Tac Toe </h1>
        <h5 class="text-center"> Choose your difficulty </h5>

        <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-info mx-1" data-mdb-ripple-init>Easy</button>
            <button type="button" class="btn btn-warning mx-1" data-mdb-ripple-init disabled>Medium</button>
            <button type="button" class="btn btn-danger mx-1" data-mdb-ripple-init disabled>Hard</button>
        </div>

        <div class="row pt-2">
            <div class="col-4 p-0">
                <a  style='{{card_dict[0]}}' href="{{ url_for('tictactoe_game', id=0) }}">
                    <img src="{{url_for('static', filename=images[0])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a  style='{{card_dict[1]}}' href="{{ url_for('tictactoe_game', id=1) }}">
                    <img src="{{url_for('static', filename=images[1])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a  style='{{card_dict[2]}}' href="{{ url_for('tictactoe_game', id=2) }}">
                    <img src="{{url_for('static', filename=images[2])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-4 p-0">
                <a  style='{{card_dict[3]}}' href="{{ url_for('tictactoe_game', id=3) }}">
                    <img src="{{url_for('static', filename=images[3])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a  style='{{card_dict[4]}}' href="{{ url_for('tictactoe_game', id=4) }}">
                    <img src="{{url_for('static', filename=images[4])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a  style='{{card_dict[5]}}' href="{{ url_for('tictactoe_game', id=5) }}">
                    <img src="{{url_for('static', filename=images[5])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-4 p-0">
                <a  style='{{card_dict[6]}}' href="{{ url_for('tictactoe_game', id=6) }}">
                    <img src="{{url_for('static', filename=images[6])}}"
                         class="img-fluid darken-on-hover "
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a  style='{{card_dict[7]}}' href="{{ url_for('tictactoe_game', id=7) }}">
                    <img src="{{url_for('static', filename=images[7])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
            <div class="col-4 p-0">
                <a style='{{card_dict[8]}}' href="{{ url_for('tictactoe_game', id=8) }}">
                    <img src="{{url_for('static', filename=images[8])}}"
                         class="img-fluid darken-on-hover"
                         alt="grid element"/>
                </a>
            </div>
        </div>
        {% if is_over == True %}
        <h2 class="text-center"> Game over!</h2>
        <h3 class="text-center"> {{win_text}}</h3>
        <!-- Restart button -->
        <a class="btn btn-primary btn-block mt-3" href="{{ url_for('tictactoe_game', id=100) }}" role="button"
           style="width: 100%;">
            Restart game
        </a>
        {% endif %}
        <a href="https://github.com/Tolian500/MyPortfolio/blob/master/spotify_agent.py"
           class="btn btn-lg btn-link mt-1 w-100"
           data-mdb-ripple-init>Source code</a>
    </div>

</div>

<div class="b-example-divider "></div>


{% include "footer.html" %}