{% include "header.html" %}
<h1> Tic Tac Toe </h1>
    <style>
        .square {
            position: relative;
            width: 100%;
        }
        .square:before {
            content: "";
            display: block;
            padding-top: 100%; /* 1:1 Aspect Ratio */
        }
        .square img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .grid-container {
            margin: 15px; /* Adjust the margin as needed */
        }
    </style>
</head>
<body>
    <div class="container grid-container">
        <div class="row">
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="square">
                    <img src="{{ url_for('static', filename='assets/img/grid_el1.png') }}" class="img-fluid" alt="grid element"/>
                </div>
            </div>
        </div>
    </div>
{% include "footer.html" %}